$color_1: #0093FF;
$color_2: #FFFFFF;
$color_3: #FFFFFF;
$font-name: 'Arial, sans-serif';

$track-color: #eceff1 !default;
$thumb-color: transparent !default;

$thumb-radius: 50% !default;
$thumb-height: 30px !default;
$thumb-width: 30px !default;
$thumb-shadow-size: 0 !default;
$thumb-shadow-blur: 0 !default;
$thumb-shadow-color: rgba(0, 0, 0, .0) !default;
$thumb-border-width: 0 !default;
$thumb-border-color: #eceff1 !default;

$track-width: 100% !default;
$track-height: 8px !default;
$track-shadow-size: 0 !default;
$track-shadow-blur: 0 !default;
$track-shadow-color: rgba(0, 0, 0, .0) !default;
$track-border-width: 0 !default;
$track-border-color: #cfd8dc !default;

$track-radius: 0 !default;
$contrast: 0 !default;
