@import '_variables';
@import '_mixins';

.range-container {
    @include flexbox();
    @include flex-flow(column nowrap);
    @include justify-content(center);
    @include align-items(center);
    @include transition(all 400ms);
    margin: 25px 0 20px;

    .range {
        @include flexbox();
        @include flex-flow(column nowrap);
        @include justify-content(center);
        @include align-items(center);
        position: relative;
        width: 84%;
        height: 4px;

        input[type=range] {
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            margin: $thumb-height / 2 0;
            width: $track-width;

            &:focus {
                outline: 0;

                &::-webkit-slider-runnable-track {
                    background: lighten($track-color, $contrast);
                }

                &::-ms-fill-lower {
                    background: $track-color;
                }

                &::-ms-fill-upper {
                    background: lighten($track-color, $contrast);
                }

            }

            &::-webkit-slider-runnable-track {
                @include track;
                @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
                background: $track-color;
                border: $track-border-width solid $track-border-color;
                border-radius: $track-radius;
            }

            &::-webkit-slider-thumb {
                @include thumb;
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
                margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
                z-index: 2;
                opacity: 1;
            }

            &::-moz-range-track {
                @include track;
                @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
                background: $track-color;
                border: $track-border-width solid $track-border-color;
                border-radius: $track-radius;
            }

            &::-moz-range-thumb {
                @include thumb;
                z-index: 2;
                opacity: 1;
            }

            &::-ms-track {
                @include track;
                background: transparent;
                border-color: transparent;
                border-width: ($thumb-height / 2) 0;
                color: transparent;
            }

            &::-ms-fill-lower {
                @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
                background: darken($track-color, $contrast);
                border: $track-border-width solid $track-border-color;
                border-radius: $track-radius * 2;
            }

            &::-ms-fill-upper {
                @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
                background: $track-color;
                border: $track-border-width solid $track-border-color;
                border-radius: $track-radius * 2;
            }

            &::-ms-thumb {
                @include thumb;
                margin-top: 0;
                z-index: 2;
                opacity: 1;
            }

        }

    }

    .range-labels {
        @include flexbox();
        @include flex-flow(row nowrap);
        @include justify-content(center);
        @include align-items(stretch);
        margin: 0 0 25px;
        padding: 0;
        list-style: none;
        width: 100%;

        li {
            @include flexbox();
            @include flex-flow(row nowrap);
            @include justify-content(center);
            @include align-items(center);
            @include transition(all 400ms);
            position: relative;
            width: 20%;
            cursor: pointer;

            &.light {


              &::after {
                background: #fff;
              }

              p {
                color: #000;
              }

            }

            &.dark {


              &::after {
                background: #900c3f;
              }

              p {
                color: #fff;
              }

            }

            &:hover {


                a {
                    opacity: 1;
                    visibility: visible;
                }

            }

            &::after {
                @include box-shadow(0, 0, 0, #000, 3px);
                @include transition(all 400ms);
                position: absolute;
                bottom: -34px;
                z-index: 1;
                right: 0;
                left: 0;
                content: "";
                margin: 0 auto;
                width: 13px;
                height: 13px;
                border-radius: 50%;
                pointer-events: none;
            }

            &.active {

                p {
                    font-weight: 700;
                }

                &::after {
                    @include box-shadow(0, 0, 0, #000, 6px);
                }

                i {
                  font-size: 18px;
                  bottom: -80px;
                }

            }

            p {
                @include font-styles($font-name, 1em, false, 500, 1.1);
                text-align: center;
                max-width: 100%;
                margin: 0;
                word-wrap: break-word;
                position: relative;
            }


            i {
                @include transition(all 400ms);
                text-align: center;
                position: absolute;
                margin: 0 auto;
                bottom: -75px;
                font-size: 15px;
            }

        }

    }

}
