$base_spacing_unit: 1.6;
$base_font_size: 1em;
$base_line_height: $base_spacing_unit;

$spacing_xs: $base_spacing_unit / 3;
$spacing_sm: $base_spacing_unit / 2;
$spacing_md: $base_spacing_unit;
$spacing_lg: $base_spacing_unit * 1.5;
$spacing_xl: $base_spacing_unit * 2;

$font_xs: $base_font_size - 0.2;
$font_sm: $base_font_size - 0.1;
$font_md: $base_font_size;
$font_lg: $base_font_size * 2;
$font_xl: $base_font_size * 3;

$font_weight_light: 300;
$font_weight_normal: 600;
$font_weight_bold: 800;
$font_weight_black: 900;

$h1_size: $base_font_size * 4;
$h2_size: $base_font_size * 3;
$h3_size: $base_font_size * 2.5;
$h4_size: $base_font_size * 1.5;
$h5_size: $base_font_size * 1.3;
$h6_size: $base_font_size * 1;

$color_green: #57D9C4;
$color_dark_blue: #113f67;
$color_yellow: #ffbc33;
$color_dark_green: #00cc49;
$color_red: #ff5e54;
$color_grey: #d1d1d1;

$breakpoints: (
    "smallest-phone": 320px,
    "phone": 400px,
    "phone-wide": 480px,
    "phablet": 560px,
    "tablet-small": 640px,
    "tablet": 768px,
    "tablet-custom": 900px,
    "tablet-wide": 1124px,
    "desktop": 1248px,
    "desktop-wide": 1430px
);

$z-indexes: (
    "outdated-browser",
    "modal",
    "dashboard-sidebar",
    "site-header",
    "site-footer",
    "page-wrapper",
    "fade",
);

$font-name: "Open Sans";
