@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import '_variables';
@import '_mixins';
@import '_code';
@import "vlider/src/sass/vlider.scss";


// @include font-styles(grbold, 1.6em, $color_green, 600, $spacing_md);
// @include flexbox();
// @include flex-flow(row nowrap);
// @include justify-content(flex-start);
// @include align-items(stretch);
// @include flex(1);
// @include box-shadow(4px, 0, 0px, rgba(0, 0, 0, 0.05));

%mpzero {
    padding:0;
    margin:0;
}

*,
*::before,
*::after {
    @include box-sizing();
}

html, body {
    min-height: 100%;
    height:100%;
    position: relative;
    @extend %mpzero;
}

body {
    @include flexbox();
    @include flex-flow(column nowrap);
    @include justify-content(flex-start);
    @include align-items(stretch);
    background: #fff;
    min-width: 860px;
}

@include scroll-bar(4px, $color_green, $color_grey);


#app {
    @include flexbox();
    @include flex-flow(column nowrap);
    @include justify-content(flex-start);
    @include align-items(stretch);
    @include flex(1 0 auto);
}

.wrapper {
    @include flexbox();
    @include flex-flow(column nowrap);
    @include justify-content(flex-start);
    @include align-items(stretch);
    padding-bottom: 100px;

    .vlider-first {
        @include flexbox();
        @include flex-flow(column nowrap);
        @include justify-content(flex-start);
        @include align-items(stretch);
        background: #fff;

        .site-container {
            @include flexbox();
            @include flex-flow(column nowrap);
            @include justify-content(flex-start);
            @include align-items(stretch);
            max-width: 1366px;
            position: relative;
            width: 100%;
            margin: 0 auto;
            padding: 30px 90px;
        }

        .header {
            @include flexbox();
            @include flex-flow(column nowrap);
            @include justify-content(center);
            @include align-items(center);
            min-height: 400px;
            padding-top: 40px;
        }

        h3 {
            @include font-styles($font-name, 1em, $color_dark_blue, 400, $spacing_md);
            margin: 0 auto;
            text-align: center;
            letter-spacing: 1px;
            word-wrap: break-word;
        }

        .green {
            color: $color_green;
        }

        h1 {
            @include font-styles($font-name, 3.6em, $color_dark_blue, 600, 2);
            margin: 0 auto;
            text-align: center;
            letter-spacing: 1px;
        }

        p {
            @include font-styles($font-name, 1em, $color_dark_blue, 400, $spacing_md);
            margin: 10px 0;
            text-align: justify;
            letter-spacing: 1px;
        }

        h2 {
            @include font-styles($font-name, 2em, $color_dark_blue, 700, $spacing_md);
            margin: 20px 0;
            text-align: justify;
            letter-spacing: 1px;
        }

        .code-snippet {
            @include flexbox();
            @include flex-flow(column nowrap);
            @include justify-content(flex-start);
            @include align-items(stretch);
            @include box-shadow(0px, 0, 20px, rgba(138,138,138,0.09));
            @include border-radius(15px);
            width: 100%;
            margin: 20px auto 60px;
            background:#fff;
            padding: 0 30px 20px;

            pre {
                padding-left: 20px;

                code {
                    padding-bottom: 20px;
                }

            }

            .circles {
                @include border-radius(50%);
                width: 15px;
                height: 15px;
                background: $color_yellow;
                position: relative;
                margin: 20px;

                &::before {
                    content: '';
                    position: absolute;
                    @include border-radius(50%);
                    width: 15px;
                    height: 15px;
                    background: $color_red;
                    right: 25px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    @include border-radius(50%);
                    width: 15px;
                    height: 15px;
                    background: $color_dark_green;
                    left: 25px;
                }

            }
        }

        .components {
            @include flexbox();
            @include flex-flow(row wrap);
            @include justify-content(flex-start);
            @include align-items(flex-start);
            margin-bottom: 50px;

            .component {
                @include flexbox();
                @include flex-flow(column nowrap);
                @include justify-content(flex-start);
                @include align-items(stretch);
                @include border-radius(15px);
                margin: 20px 0;
                min-height: 400px;
                padding: 50px 20px 30px;

                &.full {
                    width: 100%;
                }

                &.half {
                    width: 50%;
                }

                &.light {
                    @include box-shadow(0px, 0, 20px, rgba(138,138,138,0.09));
                    background: #fff;

                    h4 {
                        color: $color_dark_blue;
                    }
                }

                &.dark {
                    @include box-shadow(0px, 0, 20px, rgba(0, 0, 0, 0.2));
                    background: #121212;

                    h4 {
                        color: #fff;
                    }
                }

                &.purple {
                    @include box-shadow(0px, 0, 20px, rgba(85, 17, 79, 0.568));
                    background: #3a0088;

                    h4 {
                        color: #fff;
                    }
                }

                h4 {
                    @include font-styles($font-name, 1.5em, false, 700, $spacing_md);
                    margin: 0 0 50px;
                    text-align: center;
                    letter-spacing: 1px;
                }

            }

        }

        b {

        }

        ul.demo-ul {
            padding-left: 40px;

                &>li {
                @include font-styles($font-name, 1.1em, $color_dark_blue, 400, $spacing_md);
                margin: 0 0 10px;
                text-align: justify;
                letter-spacing: 1px;
            }

        }
        
    }

}


